VITE_API_URL=http://localhost:5000
# Set your MongoDB connection string here. DO NOT commit secrets to git.
# Example for MongoDB Atlas:
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/<dbname>?retryWrites=true&w=majority
MONGO_URI=
