PORT=5000
# Example MongoDB connection string. Replace with your own and DO NOT commit secrets to git.
# For Mongo Atlas: mongodb+srv://<username>:<password>@cluster0.mongodb.net/<dbname>?retryWrites=true&w=majority
MONGO_URI=
# Alternate env vars supported: MONGODB_URI, DATABASE_URL, MONGO_URL
NODE_ENV=development
